pandas~=2.2.3
geopandas~=1.0.1
shapely
factor-analyzer
scikit-learn
matplotlib
seaborn
plotly
dash
streamlit~=1.41.1
streamlit_folium
Folium~=0.19.3
branca~=0.8.1
pytest~=8.3.4
coverage~=7.6.10